<!--Окно для ввода данных о продукте-->
<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/products']"><mat-icon>list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="productForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Название" formControlName="prod_name"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productForm.get('prod_name').valid && productForm.get('prod_name').touched">Please enter Product Name</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Описание" formControlName="prod_desc"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productForm.get('prod_desc').valid && productForm.get('prod_desc').touched">Please enter Product Description</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Цена" formControlName="prod_price"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!productForm.get('prod_price').valid && productForm.get('prod_price').touched">Please enter Product Price</span>
        </mat-error>
      </mat-form-field>
<!--Вариант для ручного ввода даты-->
<!--      <mat-form-field class="example-full-width">-->
<!--        <input matInput placeholder="Updated at" formControlName="updatedAt"-->
<!--               [errorStateMatcher]="matcher">-->
<!--        <mat-error>-->
<!--          <span *ngIf="!productForm.get('updatedAt').valid && productForm.get('updatedAt').touched">Введите Дату</span>-->
<!--        </mat-error>-->
<!--      </mat-form-field>-->

      <!--Вариант для ввода даты с использованием диалога-->
      <mat-form-field>
        <input matInput [matDatepicker]="pickerTo" placeholder="Дата" formControlName="updated_at">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
      </mat-form-field>

      <div class="button-row">
        <button type="submit" [disabled]="!productForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>

